@import 'zeroing';

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    background: #0A1628;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }
}

h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 63px;
    letter-spacing: 2px;
}

h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 2px;

    span {
        color: #AEABFF;
    }
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 30px; 
}

h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}

a {
    transition: all .3s ease;
}

%btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    transition: all .3s ease;
}

%main-btn {
    @extend %btn;
    border-radius: 48px;
    background: #1268CD;
    color: #fff;

    &:hover {
       background: #ff0458;
       color: #fff;
    }   
}

%secondary-btn {
    @extend %btn;
    border-radius: 17px;
    background: #FEFEFE;
    color: #231F26;

    &:hover {
       background: #1268CD;
       color: #fff;
    }   
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1400px;
    }
}

main {
    background: url(../assets/img/main-bg.png) no-repeat center top / cover;
}

.header {
    padding-top: 10px;

    &__btn {
        @extend %main-btn;
    }
}

.main {
    padding-bottom: 300px;

    h1 {
        margin-top: 200px;
        
        span {
            color: #BDBDBD;
        }
    }

    p {
        margin: 54px 0 50px;
        width: 380px;
        font-size: 21px;
        line-height: 33px;
        font-weight: 500;
    }

    &__btn {
        @extend %main-btn;
        width: 255px;
        height: 63px;
    }
}

.section-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 33px;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 16px;
    margin-left: auto;
}

.about {
    padding-top: 150px;

    &__text {
        font-size: 22px;
        line-height: 32px;
        margin: 40px 0 70px;
    }

    &__item {
        padding: 30px;
        border-radius: 23.317px;
        background: rgba(255, 255, 255, 0.05);

        p {
            font-size: 58px;
            font-weight: 400;
            line-height: 79px;
        }

        span {
            font-size: 17px;
            line-height: 23px;
        }
    }
}

.delivery {
    padding: 150px 0 50px;

    &__item {
        padding: 40px 33px;
        height: 450px;
        border-radius: 34px;
        background: #F3F7FF;
        position: relative;
        margin-top: 60px;

        h3 {
            color: #262C37;
            margin-bottom: 20px;
        }

        p {
            font-size: 22px;
            line-height: 30px;
            color: #666;
            width: 77%;
        }

        a {
            @extend %main-btn;
            width: 210px;
            height: 60px;
            position: absolute;
            bottom: 40px;
            left: 33px;
        }
    }
}

.geography {
    padding-top: 150px;

    .container {
        position: relative;
    }

    h2 {
        margin-bottom: 80px;
    }

    .map {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__item {
        margin-bottom: 50px;

        p {
            color: #AEABFF;
            font-size: 57px;
            font-weight: 700;
            line-height: 36px;
            margin-bottom: 10px;
        }

        span {
            font-size: 22px;
        }
    }
}

.workflow {
    padding-top: 150px;

    h2 {
        margin: 10px 0 40px;
    }

    &__text {
        font-size: 22px;
        line-height: 32px;
        width: 86%;
    }

    &__item {
        padding: 10px 40px;
        border-radius: 27px;
        background: #F6F8FC;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        
        > div {
            color: #262C37;
            align-self: center;
            padding: 8px 0;

            h4 {
                margin-bottom: 15px;
            }

            p, li {
                font-size: 18px;
                line-height: 24px;
            }

            ul li {
                list-style: disc;
            }
        }

        > p {
            font-size: 140px;
            line-height: 150px;
            color: #3831FE;
        }

        &:last-child {
            background: #3831FE;

            > div, > p {
                color: #fff;
            }
        }
    }
}

.levels {
    padding: 150px 0;

    h2 {
        text-align: center;
        margin-bottom: 55px;
    }

    &__item {
        height: 600px;
        border-radius: 17px;
        padding: 30px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .price {
            display: inline-flex;
            padding: 13px 14px;
            color: #231F26;
            font-size: 18px;
            line-height: 20px;
            border-radius: 10px;
            background: #FEFEFE;

            &_dark {
                background: #9E72FF;
                color: #FEFEFE;
            }
        }

        h3 {
            margin: 55px 0 40px;
        }

        ul li {
            font-weight: 600;
            margin-bottom: 30px;

            &::before {
                content: '\2666';
                margin-right: 10px;
            }
        }

        .btn {
            @extend %secondary-btn;
            width: calc(100% - 60px);
            position: absolute;
            left: 30px;
            bottom: 30px;
        }

        &_first {
            color: #231F26;
        }
    }
}

.footer {
    padding: 25px 0 30px;
    background: #0B0D17;

    &__menu {
        display: flex;
        justify-content: space-between;

        a {
            font-size: 18px;

            &:hover {
                color: #ff0458;
            }
        }
    }

    .line {
        background: #fff;
        opacity: 0.2;
        height: 1px;
        margin: 40px 0 30px;
    }

    .credits {
        font-size: 14px;
        color: #D9DBE1;
    }
}

@media screen and (max-width: 1199px) {
    .about {
        &__item {
            margin-bottom: 20px;
        }
    }

    .delivery {
        &__item {
            height: auto;

            a {
                position: static;
                margin-top: 40px;
            }
        }
    }

    .geography {
        h2 {
            margin-bottom: 50px;
        }

        .map {
            position: static;
            max-width: 100%;
            margin-bottom: 60px;
        }
    }

    .workflow {
        &__text {
            width: 100%;
            margin-bottom: 60px;
        }
    }

    .levels {
        &__item {
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 50px;
        line-height: 55px;
    }

    h2 {
        font-size: 44px;
        line-height: 48px;  
    }

    h3 {
        font-size: 28px;
        line-height: 28px;
    }

    .section-label {
        display: none;
    }

    .delivery {
        &__item {
            p {
                width: 100%;
            }
        }
    }

    .levels {
        &__item {
            height: 500px;
        }
    }

    .footer {
        &__menu {
            margin-top: 30px;
        }
    }

}

@media screen and (max-width: 767px) {
    %btn {
        font-size: 14px;       
    }

    h1 {
        font-size: 40px;
        line-height: 42px;
    }

    h2 {
        font-size: 36px;
        line-height: 40px;
    }

    .header {
        .logo {
            img {
                max-width: 120px;
            }
        }

        &__btn {
            width: 180px;
            height: 44px;
        }
    }

    .main {
        padding-bottom: 100px;

        h1 {
            margin-top: 70px;
        }

        p {
            width: 100%;
            font-weight: 400;
            margin: 40px 0;
        }
    }

    .about {
        padding-top: 100px;

        &__item {
            p {
                font-size: 50px;
                line-height: 60px;
            }
        }
    }

    .delivery {
        padding-top: 100px;

        &__item {
            a {
                width: 100%;
            }
        }
    }

    .geography {
        padding-top: 100px;

        &__item {
            margin-bottom: 30px;

            p {
                font-size: 50px;
                line-height: 60px;
                margin-bottom: 0;
            }
        }
    }

    .workflow {
        padding-top: 100px;

        &__item {
            padding: 10px 30px;

            > p {
                font-size: 100px;
                line-height: 120px;
            }
        }
    }

    .levels {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .footer {
        &__menu {
            flex-direction: column;

            a {
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 575px) {

}

